*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(172, 192, 192);
}

.main{
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list img{
    pointer-events: none;
}

.list-item{
    margin: 10px 0;
    border-bottom: 1px solid black;
    padding: 10px 165px;
}

.main .title{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin: 60px 0;
}

.label-container {
    display: flex;
    flex-direction: column;
}
.title-input {
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    font-size: 18px;
}
.content-input {
    margin-top: 10px;
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    font-size: 18px;
}

.list{
    background: linear-gradient(90deg, rgba(52, 216, 127, 0.33) 0%, rgba(51, 208, 199, 0.33) 100%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    max-width: 100%;

}

.list-item-done{
    text-decoration:line-through;
}

.btn{
    margin: 10px 0;
    padding: 10px 76px;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    background: none;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    transition: all .4s ease-in-out;
}

.btn:hover{
    cursor: pointer;
    text-decoration: line-through;
}

.emty-text{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #000000;

}

.emty-list{
    background: rgba(216, 101, 52, 0.33);
    backdrop-filter: blur(15px);
    border-radius: 47px;
    align-items: center;
    display: grid;
    place-items: center;
    padding: 40px 100px;
    margin-bottom: 30px;
}

.list-item__title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.8px;
    color: #000000;
}

.list-item__content{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.8px;
    color: #000000;
    max-width: 650px;
}

.left-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-list{
    display: flex;
    gap: 20px;
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.list-img{
    width: 70px;
    height: 38px;
}

.cross-btn, .check-btn:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.block{
    display: block;
}


@media screen and (max-width:470px) {
    .main .title{
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        margin: 60px 0;
    }
}

